<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plugs.module_enterprise.mappers.EntAccountMapper">
	<insert id="add" parameterType="entAccountDto">
		insert into ap_ent_account
			(
				uuid,
				logo,
				name,
				entAccount,
				entPassWord,
				entMobile,
				entContactName,
				mobile,
				securityMoney,
				balance,
				address,
				scale,
				status,
				errCount,
				errLoginTime,
				createTime,
				creator,
				updateTime,
				updator
			)
		values
			(
				#{uuid},
				#{logo},
				#{name},
				#{entAccount},
				#{entPassWord},
				#{entMobile},
				#{entContactName},
				#{mobile},
				#{securityMoney},
				#{balance},
				#{address},
				#{scale},
				#{status},
				#{errCount},
				#{errLoginTime},
				#{createTime},
				#{creator},
				#{updateTime},
				#{updator}
			)	
	</insert>
	
	<update id="edit" parameterType="entAccountDto">
		update ap_ent_account
		<set>
			<if test="uuid != null and '' != uuid"> uuid = #{uuid},</if>
			<if test="logo != null and '' != logo"> logo = #{logo},</if>
			<if test="name != null and '' != name"> name = #{name},</if>
			<if test="entAccount != null and '' != entAccount"> entAccount = #{entAccount},</if>
			<if test="entPassWord != null and '' != entPassWord"> entPassWord = #{entPassWord},</if>
			<if test="entMobile != null and '' != entMobile"> entMobile = #{entMobile},</if>
			<if test="entContactName != null and '' != entContactName"> entContactName = #{entContactName},</if>
			<if test="mobile != null and '' != mobile"> mobile = #{mobile},</if>
			<if test="securityMoney != null and '' != securityMoney"> securityMoney = #{securityMoney},</if>
			<if test="balance != null and '' != balance"> balance = #{balance},</if>
			<if test="decBalance != null and '' != decBalance"> balance = balance - #{decBalance},</if>
			<if test="address != null and '' != address"> address = #{address},</if>
			<if test="scale != null and '' != scale"> scale = #{scale},</if>
			<if test="status != null and '' != status"> status = #{status},</if>
			<if test="errCount != null"> errCount = #{errCount},</if>
			<if test="errLoginTime != null and '' != errLoginTime"> errLoginTime = #{errLoginTime},</if>
			<if test="createTime != null and '' != createTime"> createTime = #{createTime},</if>
			<if test="creator != null and '' != creator"> creator = #{creator},</if>
			<if test="updateTime != null and '' != updateTime"> updateTime = #{updateTime},</if>
			<if test="updator != null and '' != updator"> updator = #{updator},</if>
		</set>
		where
			uuid = #{uuid}
	</update>
	
	<delete id="del" parameterType="entAccountDto">
		delete from
			ap_ent_account
		where
			uuid = #{uuid}
	</delete>
	
	<select id="selInfo" resultType="entAccountDto">
		select
			*
		from
			ap_ent_account
		<where>
			<if test="uuid != null and '' != uuid"> and uuid = #{uuid} </if>
			<if test="name != null and '' != name"> and name = #{name} </if>
			<if test="entAccount != null and '' != entAccount"> and entAccount = #{entAccount} </if>
			<if test="entMobile != null and '' != entMobile"> and entMobile = #{entMobile} </if>
		</where>
	</select>
	
	<sql id="sqlForList">
		from
			ap_ent_account
		<where>
			<if test="uuid != null and '' != uuid"> and uuid = #{uuid} </if>
			<if test="logo != null and '' != logo"> and logo = #{logo} </if>
			<if test="name != null and '' != name"> and name = #{name} </if>
			<if test="entAccount != null and '' != entAccount"> and entAccount = #{entAccount} </if>
			<if test="entPassWord != null and '' != entPassWord"> and entPassWord = #{entPassWord} </if>
			<if test="entMobile != null and '' != entMobile"> and entMobile = #{entMobile} </if>
			<if test="entContactName != null and '' != entContactName"> and entContactName = #{entContactName} </if>
			<if test="mobile != null and '' != mobile"> and mobile = #{mobile} </if>
			<if test="securityMoney != null and '' != securityMoney"> and securityMoney = #{securityMoney} </if>
			<if test="balance != null and '' != balance"> and balance = #{balance} </if>
			<if test="address != null and '' != address"> and address = #{address} </if>
			<if test="scale != null and '' != scale"> and scale = #{scale} </if>
			<if test="status != null and '' != status"> and status = #{status} </if>
			<if test="errCount != null and '' != errCount"> and errCount = #{errCount} </if>
			<if test="errLoginTime != null and '' != errLoginTime"> and errLoginTime = #{errLoginTime} </if>
			<if test="createTime != null and '' != createTime"> and createTime = #{createTime} </if>
			<if test="creator != null and '' != creator"> and creator = #{creator} </if>
			<if test="updateTime != null and '' != updateTime"> and updateTime = #{updateTime} </if>
			<if test="updator != null and '' != updator"> and updator = #{updator} </if>
		</where>
	</sql>
	
	<select id="count" resultType="int">
		select 
			count(*) 
		<include refid="sqlForList"/>
	</select>
	
	<select id="list" resultType="entAccountDto">
		select 
			 *
		<include refid="sqlForList"/>
	</select>

    <select id="queryPage" resultType="entAccountDto" parameterType="entAccountDto">
        select
        *
        <include refid="sqlForList"/>
    </select>


</mapper>